* {
  border: 1px solid black !important;
}

* {
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  background-color: AntiqueWhite;
}

.container {
  max-width: 960px;
}

.header {
  text-align: center;
}

/*__________NAVIGATION BAR__________*/

#nav {
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-align: center;
}





#homeblog {
  width: 33.3%;
  position: relative;
  text-align: center;
  top: 50%;
  left: 35%;
}

#aboutlink {
  width: 33.3%;
  position: relative;
  text-align: center;
  top: 50%;
  left: 35%;

}

img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
