



/*__________GENERAL__________*/

* {

  font-family: helvetica, sans-serif;
  font-weight: lighter;
  background-color: AntiqueWhite;
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
  padding: 10px;
}


.container {
  max-width: 960px;
}




/*__________HEADERS__________*/

.header {
  text-align: center;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

h1 {
  letter-spacing: 0.2rem;
}

h3 {
  letter-spacing: 0.3rem;
  text-align: center;
}

h5 {
  text-align: center;
}




/*__________NAVIGATION BAR__________*/

nav {
  text-align: center;
}

#navindex {
  height: auto;
  text-align: center;

}

#nav.container {
  padding-bottom: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

a, li {
  display: inline;

}




/*__________INDEX PAGE__________*/


#homeblog {
  width: 33.3%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

#aboutlink {
  width: 33.3%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;

}

#homeimage img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding-top: 4rem;
}

#indexblog.row {
  text-align: center;
  padding: 5rem;

}





/*__________BLOG TEMPLATE__________*/

#blogtemplate.container {
  margin-top: 10rem;
}

#blogtemplate .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

#blogtemplate .four-columns {
  height: auto;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

.four-columns.empty {
  display: none;
}




/*__________TEXT__________*/

a {
  text-decoration: none;

}




/*________BLOG WIREFRAME__________*/

.row .one-half {
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

img.wireframe {
  image-orientation: from-image;
  width: 45%;
  height: 50%;
  margin: .5rem;

}




/*__________BLOG NAV__________*/

#blognav {
  display: inline;
  text-align: center;
}

#previous {
  margin-left: 2rem;
}

#next {
  margin-right: 2rem;
}




/*__________FOOTER__________*/



/*#footer {
  position: relative;
  margin-top: -49px;
  height: 49px;
  clear: both;
}*/

#footer.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;

}

#footer .eight-columns {
  width: 66.6%;
  margin: 0 auto;
}

#footer .two-columns {
  width: 16.6%;
  margin: 0 auto;
}






/*__________MEDIA QUERIES__________*/


@media (min-width: 399px) {
  #navindex {
    display: none;
  }

  #indexblog.row {
    display: none;
  }

  .row.blog {
    display: block;
    flex-wrap: nowrap;
    clear: both;
  }

  /*.row .one-half {
    display: block;
  }*/


}


@media (min-width: 750px) {
  #navindex {
    display: inline;
  }

  #homeblog.row, #aboutlink.row {
    display: none;
  }

  #indexblog.row {
    display: inline;
  }
}
