

/*__________GENERAL__________*/

* {
  border: 1px solid black !important;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  background-color: AntiqueWhite;
}

.container {
  max-width: 960px;
}

/*__________HEADER__________*/

.header {
  text-align: center;
}

/*__________NAVIGATION BAR__________*/

#nav {
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

a, li {
  display: inline;
  text-align: center;
}


/*__________INDEX PAGE__________*/


#homeblog {
  width: 33.3%;
  position: relative;
  text-align: center;
  top: 50%;
  left: 35%;
}

#aboutlink {
  width: 33.3%;
  position: relative;
  text-align: center;
  top: 50%;
  left: 35%;

}

img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/*__________BLOG TEMPLATE__________*/

#blogtemplate .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#blogtemplate .four-columns {
  height: auto;
  width: 33%;
}


/*__________MEDIA QUERIES__________*/


@media (min-width: 399px) {
  #nav {
    display: none;
  }
  #indexblog.row {
    display: none;
  }
}

@media (min-width: 750px) {
  #nav {
    display: inline;
  }

  #homeblog.row, #aboutlink.row {
    display: none;
  }

  #indexblog.row {
    display: inline;
  }



}
