



/*__________GENERAL__________*/

* {
  
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  background-color: AntiqueWhite;
}

.container {
  max-width: 960px;
}




/*__________HEADERS__________*/

.header {
  text-align: center;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}

h1 {
  letter-spacing: 0.2rem;
}

h3 {
  letter-spacing: 0.3rem;
  text-align: center;
}




/*__________NAVIGATION BAR__________*/

nav {
  text-align: center;
}

#navindex {
  height: auto;
  text-align: center;

}

#nav.container {
  padding-bottom: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

a, li {
  display: inline;

}




/*__________INDEX PAGE__________*/


#homeblog {
  width: 33.3%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

#aboutlink {
  width: 33.3%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;

}

img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding-top: 4rem;
}




/*__________BLOG TEMPLATE__________*/

#blogtemplate.container {
  margin-top: 10rem;
}

#blogtemplate .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

#blogtemplate .four-columns {
  height: auto;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}




/*__________TEXT__________*/

a {
  text-decoration: none;
  color:
}




/*__________BLOG NAV__________*/

#blognav {
  display: inline;
  text-align: center;
}

#previous {
  margin-left: 2rem;
}

#next {
  margin-right: 2rem;
}




/*__________FOOTER__________*/

.row .eight-columns{
  display: flex;
  flex-wrap: wrap;

}




/*__________MEDIA QUERIES__________*/


@media (min-width: 399px) {
  #navindex {
    display: none;
  }

  #indexblog.row {
    display: none;
  }

  .row.blog {
    display: block;
    flex-wrap: nowrap;
    clear: both;
  }
}


@media (min-width: 750px) {
  #navindex {
    display: inline;
  }

  #homeblog.row, #aboutlink.row {
    display: none;
  }

  #indexblog.row {
    display: inline;
  }
}
